<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<link rel="stylesheet" href="css/bootstrap.css"> <!-- Resource style -->

	<script src="js/modernizr.js"></script> <!-- Modernizr -->

	<title>Bernal</title>
</head>
<body>
	<a href="#cd-nav" class="cd-nav-trigger">
		Menu<span><!-- used to create the menu icon --></span>
	</a> <!-- .cd-nav-trigger -->

	<main>
		<section class="cd-section index cd-selected">
			<header>
				<div class="cd-title">
					<h2>Bernal</h2>

					<!--<a href="http://codyhouse.co/?p=667">
						<span>
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve">
								<polygon fill="#FFFFFF" points="15,7 4.4,7 8.4,3 7,1.6 0.6,8 0.6,8 0.6,8 7,14.4 8.4,13 4.4,9 15,9 "/>
							</svg>
						</span>
						Article &amp; Download
					</a>-->
				</div> <!-- .cd-title -->
			</header>

			<div class="cd-content">
				<p>
					Al hablar con los habitantes de la Peña nos dimos cuenta de que tienen
					un gran apego y cariño a su pueblo, los habitantes de Bernal piden al
					gobierno que los ayuden a preservar su Peña, mejoras en la infraestructura
					para poder tener un mejor nivel de vida y al mismo tiempo mejorar los
					servicios ofrecidos a los turistas que reciben durante todo el año.
					<br>

					Los habitantes le dan una gran importancia a la Peña, ya que ellos creen
					que esta es una fuente de energía de energía positiva que pueden recibir,
					ayudándoles a lograr vivir muchos años: según censos realizados por el INEGI,
					las personas en la delegación, alcanzan hasta los 94 años de vida en promedio.
					<br>
					Al escuchar hablar a los habitantes sobre la Peña se nota su entusiasmo, su
					amor y la pasión por su pueblo, te logran contagiar las ganas de querer vivir
					la experiencia de subir la Peña, y visitar el pueblo.
				</p>
				<p>
					Para los habitantes del pueblo, asi como para los comerciantes y empresarios,
					la preservación de la Peña es muy importante, ya que es un símbolo que
					los representa, una maravilla natural, y para la mayoría de las personas,
					su principal fuente	de ingresos.
					<br>
					Es por eso que te invitamos a que, cuando vengas a conocer Bernal y su Peña,
					al mismo tiempo que aprovechas todo lo que tiene para ofrecerte, también
					respetes la naturaleza, el pueblo y a su gente.
					<br>
					<br>
					<hr>
					<h1 class="text-center" >Visítanos, #valelapeña!</h1>
					<br>
				</p>
			</div>
		</section> <!-- .cd-section -->
	</main>

	<nav class="cd-nav-container" id="cd-nav">
		<header>
			<h3>Navigation</h3>
			<a href="#0" class="cd-close-nav">Close</a>
		</header>

		<ul class="cd-nav">
			<li class="cd-selected" data-menu="index">
				<a href="index.html">
					<span>
						<img src="../resources/img/landslide.svg">
					</span>

					<em>Intro</em>
				</a>
			</li>

			<li data-menu="services">
				<a href="services.html">
					<span>
						<img src="../resources/img/house.svg">
					</span>

					<em>El pueblo</em>
				</a>
			</li>

			<li data-menu="about">
				<a href="about.html">
					<span>
						<img src="../resources/img/question.svg">
					</span>

					<em>Acerca de la peña</em>
				</a>
			</li>

			<li data-menu="projects">
				<a href="projects.html">
					<span>
						<img src="../resources/img/plant.svg">
					</span>

					<em>Flora y Fauna</em>
				</a>
			</li>

			<li data-menu="careers">
				<a href="careers.html">
					<span>
						<img src="../resources/img/ecology-svgrepo-com.svg" alt="">
					</span>

					<em>Ecología</em>
				</a>
			</li>
			<li data-menu="contact">
				<a href="contact.html">
					<span>
						<img src="../resources/img/backpack.svg">
					</span>

					<em>¿Qué llevar?</em>
				</a>
			</li>
		</ul> <!-- .cd-3d-nav -->
	</nav>

	<div class="cd-overlay"><!-- shadow layer visible when navigation is visible --></div>
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<script src="js/bootstrap.js"></script>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
